<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <section class="restaurant">
            <!-- <p>Search location: {{location}}</p>
            <p>Search term: {{search_term or 'None Specified'}}</p>
            <p>Data: {{ restaurant }}</p> -->
            <h2>{{ restaurant.get('name') }}</h2>
            <img src={{ restaurant.get('image_url') }} alt="restaurant picture">
            <p><strong>Address: </strong> {{ restaurant.get(display_address) }}</p>
            <p><strong>Rating: </strong>: {{ restaurant.get('rating') }}</p>
            </section>
    </main>
</body>
</html>

